/* .main {
  display: flex;
  flex-direction: column;
} */
.container_main {
  padding-top: 7rem;
  padding-left: 1.4em;
  text-align: left;
}
.main_heading {
  font-size: 2.1em;
  font-weight: 600;
}
.secondary_heading {
  font-size: 1.7em;
  display: block;
  font-weight: 500;

  padding: 1em 0;
}
.tertiery_heading {
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 1em;
}
.container_main_description {
  display: block;
}
.usage {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.container_usage {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  justify-content: flex-start;
}
.component_boundary {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  padding: 1em;
}
.component_code {
  border: 0.4px solid black;
  background-color: #354f65;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.code_snippet {
  font-size: 1.3em;
  padding: none;
}
.codeHeading {
  font-size: 1.3em;
  padding: 1em 0.7em;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 0.7em;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 7px -2px #878787;
}
.card_image {
  padding-bottom: 0.3em;
  transition: all 0.4s ease-in-out;
}
.card_content {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.card_content_heading {
  display: block;

  font-size: 1.4em;
}
.card_content_description {
  padding: 0.4em 0;
}
.card_button_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card:hover .card_image {
  transform: scale(1.03);
}

.btn {
  display: inline-block;
  text-align: center;
  margin: 3px;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: 0.6s;
  border: none;
  outline: none;
}
.btn:hover {
  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1);
}

.btn_primary {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}
.width_50 {
  width: 50%;
}
.btn_primary:focus {
  border: 0.4px solid var(--primary-hover-color);
}
